/BlogAPI/db.sqlite3
/BlogAPI/blog_project/__pycache__
/BlogAPI/posts/__pycache__
/BlogAPI/posts/migrations/__pycache__

/LibraryProject/db.sqlite3
/LibraryProject/library_project/__pycache__
/LibraryProject/api/__pycache__
/LibraryProject/api/migrations/__pycache__
/LibraryProject/books/__pycache__
/LibraryProject/books/migrations/__pycache__


ToDo/backend/db.sqlite3
ToDo/backend/todo_project/__pycache__
ToDo/backend/todos/__pycache__
ToDo/backend/todos/migrations/__pycache__

/ToDo/frontend/db.sqlite3
/ToDo/frontend/node_modules
/venv/